apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-server
  template:
    metadata:
      labels:
        app: config-server
    spec:
      containers:
        - name: config-server
          image: config-server:latest
          resources:
            limits:
              memory: "2048Mi"
              cpu: "300m"
            requests:
              memory: "512Mi"
              cpu: "100m"
          ports:
            - containerPort: 8888
          env:
            - name: GIT_KEY
              valueFrom:
                secretKeyRef:
                  name: config-server-secret
                  key: git-token
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8888
            initialDelaySeconds: 30
            periodSeconds: 10
