server:
  port: 9091

spring:
  application:
    name: user-service
  data:
    mongodb:
      host: ${MONGO_HOST:localhost}
      port: ${MONGO_PORT:27017}
      username: ${MONGO_USERNAME:admin}
      password: ${MONGO_PASSWORD:admin}
      database: ${MONGO_DATABASE:UserProfileDB}
      authentication-database: admin


# --- ACTUATOR CONFIGURATION ---
management:
  endpoints:
    web:
      exposure:
        include: health,info  # включаем только нужные эндпоинты
  endpoint:
    health:
      show-details: always     # показываем детали health
  server:
    port: 9091