server:
  port: 9090

spring:
  application:
    name: task-service
  datasource:
    driver-class-name: org.postgresql.Driver
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:master}
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:TaskDB}
  jpa:
    hibernate:
      ddl-auto: update

user-service:
  url: http://${USER_SERVICE_HOST:localhost}:${USER_SERVICE_PORT:9091}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
  server:
    port: 9090
