server:
  port: 8080

spring:
  application:
    name: gateway-service
  main:
    web-application-type: reactive
  cloud:
    gateway:
      routes:
        - id: task-service
          uri: http://${TASK_SERVICE_HOST:localhost}:${TASK_SERVICE_PORT:9090}
          predicates:
            - Path=/api/tasks, /api/tasks/**
          filters:
            - RewritePath=/api/tasks(?<segment>/?.*), /api/v1/task${segment}

        - id: user-service
          uri: http://${USER_SERVICE_HOST:localhost}:${USER_SERVICE_PORT:9091}
          predicates:
            - Path=/api/users, /api/users/**
          filters:
            - RewritePath=/api/users(?<segment>/?.*), /api/v1/user${segment}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
  server:
    port: 8080
